/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px){
    .nav-pills{
        float: none;
    }
    .nav-pills > li {
        float: none;
        display: block;
    }
    .header {
        height: 70px;
    }
    .navbar-brand{
        font-size: 12px;
    }
    .round-nav{
        margin-left: -15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}