svg {stroke: #fff; stroke-width: 5px; font-family: sans-serif; font-size: 15px}

text {fill: #fff; stroke: none; text-shadow: 2px 2px 4px #000; cursor: pointer}
text:hover {stroke: #fff; stroke-width: 2px}
#sec1 {fill: #ff4000}
#sec2 {fill: #ffbf00}
#sec3 {fill: #00b300}
#sec4 {fill: #00ffbf}
#sec5 {fill: #007fff}
#sec6 {fill: #4000ff}
#sec7 {fill: #9900cc}
#sec8 {fill: #e60000}

path:hover {cursor: pointer; fill-opacity: .5}
circle {fill: #0000ff}
circle:hover {fill: #8080ff}

